doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/air-datepicker.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/nouislider.css")
        link(rel="stylesheet", href="css/landing.sass")
        title Metalamp
    body 

        //**********Mixins*****************
        //mixin header
        mixin header
            .header__container--general
                .header__container 
                    img.header__logo(src="./img_website/logo.svg", alt="")
                    .header__list--container
                        ul.header__list 
                            li.header__list--item О нас
                            li.header__list--item Услуги
                                img(src="./img_website/expand_more.svg", alt="")
                            li.header__list--item Вакансии
                            li.header__list--item Новости
                            li.header__list--item Соглашения
                                img(src="./img_website/expand_more.svg", alt="")
                    .signIn__button--container
                        .signIn__button 
                            p войти
                    .registration__button 
                        p зарегестрироваться 
        //mixin footer
        mixin footer
            .footer__container 
                .footer__logo 
                    img.footer__logo--img(src="./img_website/logo.svg", alt="")
                    p.heder__description Бронирование номеров в&nbsp;лучшем отеле 2019 года по&nbsp;версии ассоциации &laquo;Отельные взгляды&raquo;
                .footer__list--container 
                    ul.footer__list
                        li.footer__list--item Навигация
                        li.footer__list--item О нас
                        li.footer__list--item Новости
                        li.footer__list--item Служба поддержки
                        li.footer__list--item Услуги
                    ul.footer__list
                        li.footer__list--item О нас
                        li.footer__list--item О сервисе
                        li.footer__list--item Наша команда
                        li.footer__list--item Вакансии
                        li.footer__list--item Инвесторы
                    ul.footer__list
                        li.footer__list--item Служба поддержки
                        li.footer__list--item Согашения
                        li.footer__list--item Сообщества
                        li.footer__list--item Связь с нами
                .footer__subscription
                    p.footer__subscription--title подписка
                    p.footer__subscription--description Получайте специальные предложения и новости сервиса
                    .email__button 
                        p Email 
                        img(src="./img_website/arrow_forward.svg", alt="")
            .footer__container--copyriting
                .copyriting
                    p Copyright © 2018 Toxin отель. Все права защищены.
                .footer__links 
                    a.footer__links--item(href="#")
                        img(src="./img_website/tw.svg", alt="") 
                    a.footer__links--item(href="#")
                        img(src="./img_website/fb.svg", alt="") 
                    a.footer__links--item(href="#")
                        img(src="./img_website/inst.svg", alt="") 
        //page delimiter
        mixin delimiter 
            .page__delimiter
        //like button
        mixin likeButton 
            .likeButton__choiseBox 
                input.likeButton__choiseBox--choise(type="checkbox")
                .likeButton__choiseBox--images 
                    img.like__unactive(src="./img_website/likeUnActive.svg", alt="")
                    img.like__active(src="./img_website/likeActive.svg", alt="")
                .likeButton__choiseBox--count 0
        //apartment
        mixin apartment
            .apartment 
                .apartment__slider
                    button.prev__img(type= "button")
                        img(src= "./img_website/prev.png")
                    .apartment__sleder--gallery
                        div#listItems
                    button.next__img(type= "button")
                        img(src="./img_website/next.png")
                    .apartment__slider--quantity
                        span.apartment__slider--quantityRectangle#rectangle 
                        span.apartment__slider--quantityRectangle#rectangle 
                        span.apartment__slider--quantityRectangle#rectangle
                        span.apartment__slider--quantityRectangle#rectangle
                .apartment__info 
                    p.apartment__info--number 
                        span.apartment__info--simbol №
                        span.numberOfaparture 888 
                        span.view люкс
                    p.apartment__info--price 9 990₽ 
                        span.apartment__info--priceIn в сутки
                hr.apartment__line
                .apartment__mention 
                    .apartment__mention--star 
                        mixin starRating(typeOf, idOf, name, valueOf)
                            input(type =""+typeOf, id =""+idOf, name =""+nameOf, value =""+valueOf)
                        mixin labelForStar(numberOf, titleOf)
                            label(for =""+numberOf, title =""+titleOf)
                        +starRating("radio", "star_5", "rating", "5")
                        +labelForStar("star_5", "Оценка 5")
                        +starRating("radio", "star_4", "rating", "4")
                        +labelForStar("star_4", "Оценка 4")
                        +starRating("radio", "star_3", "rating", "3")
                        +labelForStar("star_3", "Оценка 3")
                        +starRating("radio", "star_2", "rating", "2")
                        +labelForStar("star_2", "Оценка 2")
                        +starRating("radio", "star_1", "rating", "1")
                        +labelForStar("star_1", "Оценка 1")
                    .apartment__mention--numbers
                        p.apartment__mention--numbersMention 145 Отзывов
        
        //**********First page*************
        //Header without person
        
        +header
        //image container with background image
        .container__img 
        
        
        //container with depature and arivel with poeple
        .room__numbers--container 
            p.room__numbers--title Найдем номера под ваши пожелания
            //date calendar dropdown
            .dropdown-date
                .dropdown-date__wrapper
                    .dropdown-date__arrival
                        .dropdown-date__name прибытие   
                        .dropdown-date__form
                            input.dropdown-date__range.dropdown-date__range_from(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
                            span.dropdown-date__arrow.dropdown-date__arrow_down
                    
                    .dropdown-date__departure
                        .dropdown-date__name выезд
                        .dropdown-date__form
                            input.dropdown-date__range.dropdown-date__range_to(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
                            span.dropdown-date__arrow.dropdown-date__arrow_down
            //dropdown guests
            .dropdownSectionGuests
                p гости
                button.dropdownSectionGuests__button
                    .dropdownSectionGuests__button--text Сколько гостей
                    img.dropDown__button--icon(src='./img_website/expand_more.svg', alt="")
                .dropdownSectionGuests__sectionWithDropdownContent
                    .dropdownSectionGuests__sectionWithDropdownContent--item
                        p.dropdownSectionGuests__sectionWithDropdownContent--text взрослые
                        span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                        .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                        span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                    .dropdownSectionGuests__sectionWithDropdownContent--item
                        p.dropdownSectionGuests__sectionWithDropdownContent--text дети 
                        span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                        .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                        span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                    .dropdownSectionGuests__sectionWithDropdownContent--item
                        p.dropdownSectionGuests__sectionWithDropdownContent--text младенцы
                        span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                        .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                        span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                    .dropdownSectionGuests__button__cleanApply 
                        .dropdownSectionGuests__button--clean(type="submit") Очистить
                        .dropdownSectionGuests__button--apply(type="submit") Применить 
            //pick up button
            .pickUp__button--container 
                p подобрать номер
                img(src="./img_website/arrow_forward.svg", alt="")
        //footer 
        +footer


        //***********Second page************
        +delimiter
        //Header without person
        +header

        //content container
        .conteiner__general
            .container__nav--left 
                p.arrival__title даты пребывания в отеле
                //filter date dropdown
                .filterDate 
                    input.filterDate-item(type="text", name="", placeholder="23 авг - 24 авг")
                //dropdown guests
                .dropdownSectionGuests__second
                    h6.dropdownSectionGuests__second--title гости
                    button.dropdownSectionGuests__button--secondPage
                        .dropdownSectionGuests__button--textSecond 3 Гостя, 1 младенец
                        img.dropDown__button--iconSecond(src='./img_website/expand_more.svg', alt="")
                    .dropdownSectionGuests__sectionWithDropdownContent
                        .dropdownSectionGuests__sectionWithDropdownContent--item
                            p.dropdownSectionGuests__sectionWithDropdownContent--text взрослые
                            span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                            .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                            span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                        .dropdownSectionGuests__sectionWithDropdownContent--item
                            p.dropdownSectionGuests__sectionWithDropdownContent--text дети 
                            span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                            .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                            span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                        .dropdownSectionGuests__sectionWithDropdownContent--item
                            p.dropdownSectionGuests__sectionWithDropdownContent--text младенцы
                            span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                            .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                            span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                        .dropdownSectionGuests__button__cleanApply 
                            .dropdownSectionGuests__button--clean(type="submit") Очистить
                            .dropdownSectionGuests__button--apply(type="submit") Применить 
                
                    // Range slider   
                    .slider__content
                        p.slider__text Диапазон цен
                        .slider__inputs
                            label(for="slider__input--first")
                                input#slider__input--first(type="text", name="", placeholder="")
                                span ₽
                            span -
                            label(for="slider__input--second")
                                input#slider__input--second(type="text", name="", placeholder="")    
                                span ₽
                    #slider
                p.slider__description Стоимость за сутки пребывания в номере

                //section with rules
                .rules__title правила дома
                //checkbox section 
                .choicseListOfCheckBoxes__items
                    .choicseListOfCheckBoxes__list
                        input#choiseCheckbox__item--Smoke.choicseListOfCheckBoxes__item(type="checkbox")
                        label(for="choiseCheckbox__item--Smoke") Можно курить
                    .choicseListOfCheckBoxes__list
                        input#choiseCheckbox__item--Pets.choicseListOfCheckBoxes__item(type="checkbox")
                        label(for="choiseCheckbox__item--Pets") Можно с питомцами
                    .choicseListOfCheckBoxes__list
                        input#choiseCheckbox__item--Guests.choicseListOfCheckBoxes__item(type="checkbox")
                        label(for="choiseCheckbox__item--Guests") Можно пригласить гостей <br> (до&nbsp;10&nbsp;человек)
                //availability
                .availability__numbers 
                    p Доступность
                    //rich checkbox item
                    .richCheckBox__section 
                        .richCheckBox__section--item 
                            input#richCheckBox__section--checkBoxFirst(type="checkbox")
                            label(for="richCheckBox__section--checkBoxFirst") Широкий коридор
                            p Ширина коридоров в номере не менее 91 см.
                        .richCheckBox__section--item 
                            input#richCheckBox__section--checkBoxSecond(type="checkbox")
                            label(for="richCheckBox__section--checkBoxSecond") Помощник для инвалидов
                            p На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера.
                
                //facilities
                .facilities__container.facilities__comfort
                    p удобства номера 
                    //dropdown choise fild
                    .dropdownSection
                        button.dropDown__button.dropdownButton__bads
                            .dropDown__button--text 2 спальни, 2 кровати
                            img.dropDown__button--icon(src='./img_website/expand_more.svg', alt="")
                        .dropDown__sectionWithDropdownContent
                            .dropDown__sectionWithDropdownContent--item
                                p.dropDown__sectionWithDropdownContent--text спальни 
                                span.dropDown__sectionWithDropdownContent--RectatangleMinus -
                                .dropDown__sectionWithDropdownContent--Number 0
                                span.dropDown__sectionWithDropdownContent--RectatanglePlus +
                            .dropDown__sectionWithDropdownContent--item
                                p.dropDown__sectionWithDropdownContent--text кровати 
                                span.dropDown__sectionWithDropdownContent--RectatangleMinus -
                                .dropDown__sectionWithDropdownContent--Number 0
                                span.dropDown__sectionWithDropdownContent--RectatanglePlus +
                            .dropDown__sectionWithDropdownContent--item
                                p.dropDown__sectionWithDropdownContent--text ванные комнаты 
                                span.dropDown__sectionWithDropdownContent--RectatangleMinus -
                                .dropDown__sectionWithDropdownContent--Number 0
                                span.dropDown__sectionWithDropdownContent--RectatanglePlus +
                            .dropdownSectionGuests__button__cleanApplyItem
                                .dropdownSectionGuests__button--cleanItem(type="submit") Очистить
                                .dropdownSectionGuests__button--applyItem(type="submit") Применить
                
                
                // Checkbox choise field 
                .choiseCheckbox
                     
                    button.choiseCheckbox__button(type="submit", value="") дополнительные удобства
                        img(src="./img_website/expand_more.svg", alt="dropdovn")
                    .choicseListOfCheckBoxes
                        .choicseListOfCheckBoxes__list
                            input#choiseCheckbox__item0.choicseListOfCheckBoxes__item(type="checkbox")
                            label(for="choiseCheckbox__item0") Завтрак
                        .choicseListOfCheckBoxes__list
                            input#choiseCheckbox__item1.choicseListOfCheckBoxes__item(type="checkbox")
                            label(for="choiseCheckbox__item1") Письменный стол
                        .choicseListOfCheckBoxes__list
                            input#choiseCheckbox__item2.choicseListOfCheckBoxes__item(type="checkbox")
                            label(for="choiseCheckbox__item2") Стул для кормления
                        .choicseListOfCheckBoxes__list
                            input#choiseCheckbox__item3.choicseListOfCheckBoxes__item(type="checkbox")
                            label(for="choiseCheckbox__item3") Кроватка
                        .choicseListOfCheckBoxes__list
                            input#choiseCheckbox__item4.choicseListOfCheckBoxes__item(type="checkbox")
                            label(for="choiseCheckbox__item4") Телевизор
                        .choicseListOfCheckBoxes__list
                            input#choiseCheckbox__item5.choicseListOfCheckBoxes__item(type="checkbox")
                            label(for="choiseCheckbox__item5") Шампунь

        
            .content__container 
                h2.content__title Номера, которые мы для вас подобрали
                .apartment__container 
                    //**********apartment section******

                    .apartment 
                        +apartment
                    .apartment 
                        +apartment
                    .apartment
                        +apartment 
                    .apartment
                        +apartment
                    .apartment
                        +apartment
                    .apartment
                        +apartment
                    .apartment
                        +apartment
                    .apartment
                        +apartment
                    .apartment
                        +apartment
                    .apartment
                        +apartment
                    .apartment
                        +apartment
                    .apartment
                        +apartment
                //pagination
                .pagination
                    ul.pagination__list
                        li.pagination__list--item
                            a(href="#") 1
                        li.pagination__list--item
                            a(href="#") 2
                        li.pagination__list--item
                            a(href="#") 3
                        li.pagination__list--item
                            a(href="#") ...
                        li.pagination__list--item
                            a(href="#") 50
                    .pagination__button
                        span
                            svg
                                path(width="40" height="40" d="M9 0.426758L17.0156 8.44238L9 16.458L7.59375 15.0518L13.1719 9.42676H0.984375V7.45801H13.1719L7.59375 1.83301L9 0.426758Z" fill="white")
                .pagination__text 
                    p 1 – 12 из 100+ вариантов аренды 

        //footer 
        +footer 

        //***********Third page************
        +delimiter
        //Header without person
        +header
 
        //header image 
        .header__image
            .header__img--container  
                img.left__img(src="./img/header_img3.png", alt="")
            .header__img--container__right 
                img.right__top(src="./img/header_img.png", alt="")
                img.right__bottom(src="./img/header_img2.png", alt="")
            
            
        //content container
        .apartment__imformation 
           
            .apartment__information--left 
                 
                .apart__info
                    
                    .apart__intelligence
                        .apart__intelligence--descr 
                            p.apart__intelligence--title Сведения о номере 
                            
                        .apart__intelligence--item 
                            img(src="./img/insert_emoticon.svg", alt="")
                            .apart__intelligence--descr
                                p.descr__title Комфорт
                                p.descr__subscribe Шумопоглащающие стены
                        .apart__intelligence--item 
                            img(src="./img/location_city.svg", alt="")
                            .apart__intelligence--descr
                                p.descr__title Удобство
                                p.descr__subscribe Окно в каждой из спален
                        .apart__intelligence--item 
                            img(src="./img/whatshot.svg", alt="")
                            .apart__intelligence--descr
                                p.descr__title Уют
                                p.descr__subscribe Номер оснащен камином

                    .apart__impression 
                        p.apart__impression--title Впечатления от номера
                        .apart__impression--info
                            .apart__impression--rect 
                                .rect__left 
                                .rect__right
                                    .rect__right--top
                                    .rect__right--botton 
                                    span.top__span 
                                    span.right__span 
                                    span.bottom__span
                                .rect__voise
                                    .rect__voise--descr 
                                        p.rect__voise--number 260
                                        p.rect__voise--voises голосов

                            ul.apart__impression--list
                                li.apart__impression--item Великолепно
                                li.apart__impression--item Хорошо
                                li.apart__impression--item Удовлетворительно
                                li.apart__impression--item Разочарован

                .apart__review
                    .apart__rewiew--cont
                        .apart__review--title Отзывы посетителей номера
                        p.apart__review--comments 2 отзыва
                    
                    //comment section
                    .comment__container--general
                        .comment__container 
                            .comment__container--header 
                                img(src="./img_website/ava.png", alt="Avatar")
                                .commenter
                                    .commenter__name Мурад Сарафанов
                                    .commenter__commitDate 5 дней назад
                            .comment__container--main   
                                +likeButton
                                .comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. <br> И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто <br> не жаловался из соседей.
                        //comment section
                        .comment__container 
                            .comment__container--header 
                                img(src="./img_website/ava2.png", alt="Avatar")
                                .commenter
                                    .commenter__name Патрисия Стёклышкова
                                    .commenter__commitDate Неделю назад
                            .comment__container--main   
                                +likeButton
                                .comment__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,  <br> каждый день новое блюдо и десерт как комплимент
                                .apartment__information--right

                .apart__rulls 
                    //bullet list
                    .bulletList
                        p.bulletList--title Правила 
                        ul.bulletList--items 
                            li.bulletList--item Нельзя с питомцами
                            li.bulletList--item Без вечеринок и мероприятий
                            li.bulletList--item Время прибытия&nbsp;&mdash; после 13:00, а&nbsp;выезд до&nbsp;12:00
                    .cancellation
                        p.cancellation--title Отмена
                        p.cancellation--descr Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.    


            .apartment__information--right 
                .apartment__form--container 
                    .apartment__form--header 
                        .apartment__form--room
                            p.apartment__form--number №
                            p.apartment__form--item 888
                            p.apartment__form--room люкс
                        .apartment__form--cost 
                            p.apartment__form--costRoom 9 990 ₽
                            p.apartment__form--costDay в сутки
                    .apartment__form--content 
                        //date calendar dropdown
                        .dropdown-date
                            .dropdown-date__wrapper
                                .dropdown-date__arrival
                                    .dropdown-date__name прибытие   
                                    .dropdown-date__form
                                        input.dropdown-date__range.dropdown-date__range_from(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
                                        span.dropdown-date__arrow.dropdown-date__arrow_down
                                
                                .dropdown-date__departure
                                    .dropdown-date__name выезд
                                    .dropdown-date__form
                                        input.dropdown-date__range.dropdown-date__range_to(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
                                        span.dropdown-date__arrow.dropdown-date__arrow_down
                        //dropdown guests
                        .dropdownSectionGuests
                            p гости
                            button.dropdownSectionGuests__button
                                .dropdownSectionGuests__button--text 3 Гостя
                                img.dropDown__button--icon(src='./img_website/expand_more.svg', alt="")
                            .dropdownSectionGuests__sectionWithDropdownContent
                                .dropdownSectionGuests__sectionWithDropdownContent--item
                                    p.dropdownSectionGuests__sectionWithDropdownContent--text взрослые
                                    span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                                    .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                                    span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                                .dropdownSectionGuests__sectionWithDropdownContent--item
                                    p.dropdownSectionGuests__sectionWithDropdownContent--text дети 
                                    span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                                    .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                                    span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                                .dropdownSectionGuests__sectionWithDropdownContent--item
                                    p.dropdownSectionGuests__sectionWithDropdownContent--text младенцы
                                    span.dropdownSectionGuests__sectionWithDropdownContent--RectatangleMinus -
                                    .dropdownSectionGuests__sectionWithDropdownContent--Number 0
                                    span.dropdownSectionGuests__sectionWithDropdownContent--RectatanglePlus +
                                .dropdownSectionGuests__button__cleanApply 
                                    .dropdownSectionGuests__button--clean(type="submit") Очистить
                                    .dropdownSectionGuests__button--apply(type="submit") Применить 

                    .apart__cost
                        .apartment__cost--section 
                            .apart__cost--day 9 990₽ x 4 суток
                            .apart__cost--sum 39 960₽
                        .apartment__discount
                            .apart__disc--day Сбор за услуги: скидка 2 179₽
                            .apart__disc--rect i 
                            .apart__disc--sum 0₽
                        .apart__services
                            .apart__servicesc--day Сбор за услуги: скидка 2 179₽
                            .apart__services--rect i 
                            .apart__services--sum 300₽
                    .apart__sum 
                        .apart__sum--title Итого
                        .apart__delimiter 
                        .apart__sum--cost 38 081₽

                    .apart__button 
                        .apart__button--text забронировать
                        img(src="./img_website/arrow_forward.svg", alt="")
        //footer 
        +footer
        
        //*************Four page**********
        +delimiter
        //header
        +header 
        .four__page--image
            .registration__form--container
                .registration__form
                    .registration__form--title Регистрация аккаунта
                    .name__input
                        p.name__input--placeholder Имя

                    .surname__input
                        p.surname__input--placeholder Фамилия

                    //radio cohise button men women
                    .choiceRadioItems
                        .choiceRadioItem__item
                            input#men.custom__radiobutton(type="radio")
                            label(for="men") Мужчина
                        .choiceRadioItem__item
                            input#women.custom__radiobutton(type="radio")
                            label(for="women") Женщина
                    p.label__birthday дата рождения
                    .birthday__input 
                        p.birthday__input--placeholder ДД.ММ.ГГ
                    p.label__signIn данные для входа в сервис
                    //email input element 
                    .email__Input--four 
                        p.email__Input--placeholder Email

                    .password__input--four 
                        p.password__input--placeholder Пароль
                    //choise toogle
                    .choise__toogle
                        .choiseButton__toogle
                            input#choiseButton__toogle--first(type="checkbox")
                            label(for="choiseButton__toogle--first") 
                            input#choiseButton__toogle--second(type="checkbox")
                            label(for="choiseButton__toogle--first")
                            span#choiseSpan__toogle
                        p.label__choise--toogle получать специальные предложения
                    .registration__button--four 
                        p.registration__button--four__label зарегестрироваться
                        img(src="./img_website/arrow_forward.svg", alt="")
                    .signIn__site 
                        p.label__signIn--accaunt Уже есть аккаунт на Toxin 
                        .enter__button
                            .enter__button--bg
                            p.enter__button--title войти
        //footer
        +footer

        //************Five page***********
        +delimiter
        //header
        +header
        .five__page--image
        
            .five__page--container
                .five__page--inside 
                    p.label__fourPage Войти
                    .four__email Email
                    .four__password Пароль
                    .four__page--signIn__button 
                        p.four__page--signIn__title войти
                        img(src="./img_website/arrow_forward.svg", alt="")
                    .four__page--create__container 
                        p.label__create Нет аккаунта на Toxin?
                        .create__button
                            .create__button--rect
                            p.create__button--title создать


        
        //footer
        +footer
    script(src="./js/jquery.js") 
    script(src="./js/air-datepicker.js")
    script(src="./js/nouislider.js") 
    script(src="./js/calendar.js")
    script(src="./js/slider.js")     
    script(src="./js/website.js")