doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/registrationForm.sass")
        title Document
    body 
        div.registrationForm 
            h2.registrationForm__subtitle Регистрация аккаунта
            mixin registretionInputForms(typeOfinput, classofInput, valueOfInput, checkIn, nameIn)
                input(type= ""+typeOfinput, class= ""+classofInput, value= ""+valueOfInput, check= ""+checkIn, name= ""+nameIn)
            +registretionInputForms("text", "registrationForm__name", "Имя")
            +registretionInputForms("text", "registrationForm__surname", "Фамилия")
            .registrationForm__radioButton
                +registretionInputForms("radio", "registrationForm__radioMan", "", true, "generalFiorm")
                label(for="registrationForm__radioMan") Мужчина
                +registretionInputForms("radio", "registrationForm__radioWoman", "", false, "generalFiorm")
                label(for="registrationForm__radioMan") Женщина
            label(for="registrationForm__birthday") дата рождения
            +registretionInputForms("text", "registrationForm__birthday", "ДД.ММ.ГГГГ")
            label(for="registrationForm__registraion") данные для входа в сервис
            +registretionInputForms("email", "registrationForm__registraion--email", "Email")
            +registretionInputForms("email", "registrationForm__registraion--password", "Passord")
            .registrationForm_switchForjoin
                input.registrationForm_switchForjoinButton(type="checkbox", id="slider")
                label.registrationForm_switchSlider(for="slider")
                p.registrationForm_switchForjoin--offer Получать спецпредложения
            button(type="button", class="registrationForm_switchForjoin--pay btn-reset", value="") перейти к оплате 
                    img.findNumbers__button--img(src="./img/arrow_forward.svg", alt="")